// Based on 2014 Material Design color palettes:
// https://material.io/design/color/#TOOLS-FOR-PICKING-COLORS

// Red
$red-50: {color1};
$red-100: {color1};
$red-200: {color1};
$red-300: {color1};
$red-400: {color1};
$red-500: {color1};
$red-600: {color1};
$red-700: {color1};
$red-800: {color1};
$red-900: {color1};
$red-a100: {color1};
$red-a200: {color1};
$red-a400: {color1};
$red-a700: {color1};

// Pink
$pink-50: {color1};
$pink-100: {color1};
$pink-200: {color1};
$pink-300: {color1};
$pink-400: {color1};
$pink-500: {color1};
$pink-600: {color1};
$pink-700: {color1};
$pink-800: {color1};
$pink-900: {color1};
$pink-a100: {color1};
$pink-a200: {color1};
$pink-a400: {color1};
$pink-a700: {color1};

// Purple
$purple-50: {color5};
$purple-100: {color5};
$purple-200: {color5};
$purple-300: {color5};
$purple-400: {color5};
$purple-500: {color5};
$purple-600: {color5};
$purple-700: {color5};
$purple-800: {color5};
$purple-900: {color5};
$purple-a100: {color5};
$purple-a200: {color5};
$purple-a400: {color5};
$purple-a700: {color5};

// Deep Purple
$deep-purple-50: {color5};
$deep-purple-100: {color5};
$deep-purple-200: {color5};
$deep-purple-300: {color5};
$deep-purple-400: {color5};
$deep-purple-500: {color5};
$deep-purple-600: {color5};
$deep-purple-700: {color5};
$deep-purple-800: {color5};
$deep-purple-900: {color5};
$deep-purple-a100: {color5};
$deep-purple-a200: {color5};
$deep-purple-a400: {color5};
$deep-purple-a700: {color5};

// Indigo
$indigo-50: {color4};
$indigo-100: {color4};
$indigo-200: {color4};
$indigo-300: {color4};
$indigo-400: {color4};
$indigo-500: {color4};
$indigo-600: {color4};
$indigo-700: {color4};
$indigo-800: {color4};
$indigo-900: {color4};
$indigo-a100: {color4};
$indigo-a200: {color4};
$indigo-a400: {color4};
$indigo-a700: {color4};

// Blue
$blue-50: {color4};
$blue-100: {color4};
$blue-200: {color4};
$blue-300: {color4};
$blue-400: {color4};
$blue-500: {color4};
$blue-600: {color4};
$blue-700: {color4};
$blue-800: {color4};
$blue-900: {color4};
$blue-a100: {color4};
$blue-a200: {color4};
$blue-a400: {color4};
$blue-a700: {color4};

// Light Blue
$light-blue-50: {color6};
$light-blue-100: {color6};
$light-blue-200: {color6};
$light-blue-300: {color6};
$light-blue-400: {color6};
$light-blue-500: {color6};
$light-blue-600: {color6};
$light-blue-700: {color6};
$light-blue-800: {color6};
$light-blue-900: {color6};
$light-blue-a100: {color6};
$light-blue-a200: {color6};
$light-blue-a400: {color6};
$light-blue-a700: {color6};

// Cyan
$cyan-50: {color6};
$cyan-100: {color6};
$cyan-200: {color6};
$cyan-300: {color6};
$cyan-400: {color6};
$cyan-500: {color6};
$cyan-600: {color6};
$cyan-700: {color6};
$cyan-800: {color6};
$cyan-900: {color6};
$cyan-a100: {color6};
$cyan-a200: {color6};
$cyan-a400: {color6};
$cyan-a700: {color6};

// Teal
$teal-50: {color6};
$teal-100: {color6};
$teal-200: {color6};
$teal-300: {color6};
$teal-400: {color6};
$teal-500: {color6};
$teal-600: {color6};
$teal-700: {color6};
$teal-800: {color6};
$teal-900: {color6};
$teal-a100: {color6};
$teal-a200: {color6};
$teal-a400: {color6};
$teal-a700: {color6};

// Green
$green-50: {color2};
$green-100: {color2};
$green-200: {color2};
$green-300: {color2};
$green-400: {color2};
$green-500: {color2};
$green-600: {color2};
$green-700: {color2};
$green-800: {color2};
$green-900: {color2};
$green-a100: {color2};
$green-a200: {color2};
$green-a400: {color2};
$green-a700: {color2};

// Light Green
$light-green-50: {color2};
$light-green-100: {color2};
$light-green-200: {color2};
$light-green-300: {color2};
$light-green-400: {color2};
$light-green-500: {color2};
$light-green-600: {color2};
$light-green-700: {color2};
$light-green-800: {color2};
$light-green-900: {color2};
$light-green-a100: {color2};
$light-green-a200: {color2};
$light-green-a400: {color2};
$light-green-a700: {color2};

// Lime
$lime-50: {color2};
$lime-100: {color2};
$lime-200: {color2};
$lime-300: {color2};
$lime-400: {color2};
$lime-500: {color2};
$lime-600: {color2};
$lime-700: {color2};
$lime-800: {color2};
$lime-900: {color2};
$lime-a100: {color2};
$lime-a200: {color2};
$lime-a400: {color2};
$lime-a700: {color2};

// Yellow
$yellow-50: {color3};
$yellow-100: {color3};
$yellow-200: {color3};
$yellow-300: {color3};
$yellow-400: {color3};
$yellow-500: {color3};
$yellow-600: {color3};
$yellow-700: {color3};
$yellow-800: {color3};
$yellow-900: {color3};
$yellow-a100: {color3};
$yellow-a200: {color3};
$yellow-a400: {color3};
$yellow-a700: {color3};

// Amber
$amber-50: {color1};
$amber-100: {color1};
$amber-200: {color1};
$amber-300: {color1};
$amber-400: {color1};
$amber-500: {color1};
$amber-600: {color1};
$amber-700: {color1};
$amber-800: {color1};
$amber-900: {color1};
$amber-a100: {color1};
$amber-a200: {color1};
$amber-a400: {color1};
$amber-a700: {color1};

// Orange
$orange-50: {color3};
$orange-100: {color3};
$orange-200: {color3};
$orange-300: {color3};
$orange-400: {color3};
$orange-500: {color3};
$orange-600: {color3};
$orange-700: {color3};
$orange-800: {color3};
$orange-900: {color3};
$orange-a100: {color3};
$orange-a200: {color3};
$orange-a400: {color3};
$orange-a700: {color3};

// Deep Orange
$deep-orange-50: {color5};
$deep-orange-100: {color5};
$deep-orange-200: {color5};
$deep-orange-300: {color5};
$deep-orange-400: {color5};
$deep-orange-500: {color5};
$deep-orange-600: {color5};
$deep-orange-700: {color5};
$deep-orange-800: {color5};
$deep-orange-900: {color5};
$deep-orange-a100: {color5};
$deep-orange-a200: {color5};
$deep-orange-a400: {color5};
$deep-orange-a700: {color5};

// Brown
$brown-50: {color5};
$brown-100: {color5};
$brown-200: {color5};
$brown-300: {color5};
$brown-400: {color5};
$brown-500: {color5};
$brown-600: {color5};
$brown-700: {color5};
$brown-800: {color5};
$brown-900: {color5};

// Grey
$grey-50: {color0};
$grey-100: {color0};
$grey-200: {color0};
$grey-300: {color0};
$grey-400: {color0};
$grey-500: {color0};
$grey-600: {color0};
$grey-700: {color0};
$grey-800: {color0};
$grey-900: {color0};

// Blue Grey
$blue-grey-50: {color6};
$blue-grey-100: {color6};
$blue-grey-200: {color6};
$blue-grey-300: {color6};
$blue-grey-400: {color6};
$blue-grey-500: {color6};
$blue-grey-600: {color6};
$blue-grey-700: {color6};
$blue-grey-800: {color6};
$blue-grey-900: {color6};

// Black
$black: {background};

// White
$white: {foreground};
